<h1>{{model.title}}</h1>
<i>by {{model.author}}</i>
<br>

<p><b>Summary: </b>{{model.summary}}</p>
<p><b>Body: </b>{{model.body}}</p>

<h3>Comments ({{model.comments.length}})</h3>
<ul class="comments">
  {{#each model.comments as |comment|}}
    {{comment-item comment=comment}}
  {{/each}}
</ul>

{{outlet}}

<p>{{#link-to "post.comments.new"}}New Comment{{/link-to}}</p>
<p>{{#link-to "edit" model.id}}Edit Post{{/link-to}}</p>
<p>{{#link-to "posts"}}Return to Index{{/link-to}}</p>
